.orders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    border-bottom: 1px solid black;
}

.orders > ul{
    /*width: 10%;*/
    min-width: 20%;
    max-width: 20%;
}

