
.main_container{

    width: 90%;
    margin: auto;
}

.main_body{
    display: flex;
    justify-content: space-around;
}

.aside_container{
    width: 15%;
}

.all_items_container{
    width: 85%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
