
.main_container {
    width: 90%;
    margin: auto;
    background-color: #F5F5F5;

}

.main_container > h3 {
    margin: 0;
    padding: 20px;
}

.main_body {
    display: flex;

}

.aside_container {
    flex: 0 1 300px;
}

