

/*TODO: NOT WORKING??? fix space between image and text*/
.card_container{
    /*width: 25%;*/
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_img > img{
    width: 100%;
    height: auto;
}

.card_body{
    border: 1px solid blue;
}