
#aside_wrapper{
    border: 1px solid red;

}

#category_container{
}



#aside_wrapper .category_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    border: 1px solid black;
}

.mainCategory{
    font-size: larger;
}

.subcategory{
    font-size: smaller;
}

.category:hover{
    cursor: pointer;
    color: gray;
}

.selectedCategory{
    color: blue;
    font-weight: bold;
}

.checkbox{
    /*width: 5%;*/
    /*height: 5%;*/
    /*border-radius: 50%;*/
}

.aside_header{
    font-weight: bold;
    background-color: lightgrey;
    padding: 3%;
    margin: 0;
}

.select_container{
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

