
.aside_container{
    border: 1px solid black;
    width: 20%;
}

.category_container{
    text-align: left;
}

.category{
    padding: 3%;
}

.title_container{
    text-align: center;
}

.title_span{
    font-weight: bold;
}

.filter_container{

}