
.modal-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-Index: 1000;
    display: flex;
    flex-direction: column;
    width: 20%;
}

/*Overlay is everything outside of the modal. Clicking anything outside this area will close the modal.*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
}

.modal-wrapper form{
    display:flex;
    flex-direction: column;
}

.modal-wrapper h2{
    text-align: center;
    font-size: 30px;
}

.modal-wrapper input{
    margin-bottom: 10px;
}

#exitButton{
   font-size: 200%;
}

#exitButton:hover{
    cursor: pointer;
}

.textUnder:hover{
    cursor: pointer;
    text-decoration: underline;
}

.formModal > input{

    padding: 12px 20px;
    margin: 8px 0;
}

.formModal .submitButton{
    color: white;
    background-color: black;
    border: none;
}