
.footer_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
}

.left-footer p{
    font-size: 10px;
}

.left-footer h4{
    margin-bottom: 0;
}

.right-footer nav{
    width: 130px;
    display: flex;
    justify-content: space-between;
}
